# Django files
*.pyc
__pycache__/
*.pyo
*.pyd
*.py~

# JS/Bootstrap files
node_modules/
static/js/*.js
static/css/*.css

# Compiled output
dist/
*.min.css
*.min.js

# Dependencies
node_modules/

# Package files
npm-debug.log
package-lock.json
