@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
:root{
--lg-font:'Kaisei Tokimin',serif;
--sm-font:'Poppins',sans-serif;
--pink:#e5345b;

}
body{
    font-family: var(--sm-font);
}
.bg-primary{
    background-color: var(--pink)!important;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1)
}
.navbar-brand img{
width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-weight: var(--sm-font);
    }
.nav-link:hover{
   color: var(--pink)!important;
    }
.nav-item {
    border-bottom: 0.5px solid rgba(0,0,0,0.5s);
}
@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}
.navbar-light .navbar-toggler-icon {
    background-image: "url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)";
}
